body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a043c;
    color: white;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #0a043c;
}

.navbar .icon {
    width: 25px;
    height: 25px;
    fill: #ffffff;
}


.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0a043c;
}

.footer .icon {
    width: 30px;
    height: 30px;
    fill: white;
}